  <div class="wrapper">
        <div class="logo">
            <img src="https://upwork-usw2-prod-assets-static.s3.us-west-2.amazonaws.com/org-logo/1030571364585918464" alt="error">
        </div>
        <form class="p-3 mt-3" action="/register" method="POST">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" name="email" id="userName" placeholder="Email">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="pass" id="pwd" placeholder="Password">
            </div>
            <button type="submit" class="btn mt-3">Register</button>
        </form>
        <div class="text-center fs-6">
            <a href="/login">Login</a>
        </div>
    </div>